.swiper {
  width: 100%;
  height: 100%;
  padding-Left:30%; 
  padding-Right:30%;
}

.swiperHah {
  width: 85%;
  height: 85%;
  padding-Left:30%; 
  padding-Right:30%;
}

.slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media only screen and (max-width: 1200px){
  .swiper {
    padding-Left:10%; 
    padding-Right:10%;
  }
  }


@media only screen and (max-width: 535px){
  .swiper {
    padding-Left:10%; 
    padding-Right:10%;
  }
}
